* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.noto-serif {
  font-family: "Noto Serif", serif;
}
.inter {
  font-family: "Inter", sans-serif;
}

/* custom class */
.container {
  max-width: 1280px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 30px auto 0;
}

.nav-right ul {
  display: flex;
  gap: 15px;
  margin-top: 45px;
}
.nav-right ul li {
  list-style: none;
}
.nav-right ul li a {
  text-decoration: none;
  /* color: #252432; */
  /* font-weight: 400; */
}
/* font color */
.light-gray {
  color: #8987a1;
}
.black {
  color: #252432;
  font-weight: 700;
}
/* section */
.banner {
  display: flex;
  max-width: 1140px;
  margin: 70px auto;
  height: 461px;
  justify-content: space-between;
  align-items: center;
}
.pure-black {
  color: black;
}
.orange {
  color: #e95a08;
}
.white {
  color: rgb(255, 255, 255);
}

section div h3 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 20px;
}
section div p {
  color: rgba(0, 0, 0, 0.5);
}
.banner-left {
  margin-top: 92px;
}
/* main */
.content-card {
  max-width: 1140px;
  justify-content: center;
  align-items: center;
  margin: 0 190px;
  text-align: center;
}
.content-up p {
  font-size: 22px;
}
.card {
  width: 100%;
  height: 485px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn {
  background-color: rgb(233, 90, 8);
  border: none;
  width: 270px;
  height: 50px;
}
.btn a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.lily {
  color: rgb(17, 17, 17);
  font-size: 22px;
  font-weight: 500;
  margin: 5px 0;
}
.usd {
  color: rgb(17, 17, 17);
  font-size: 22px;
  font-weight: 700;
  margin: 5px 0 10px;
}
.content-down {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
}

/* 2nd main */
.trust-content {
  max-width: 1140px;
  margin: 200px 190px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* .tr-img{
  position: relative;
  height: 286px;
  width: 286px;
} */
.trust {
  height: 286px;
  width: 286px;
  position: absolute;
  top: 1950px;
  left: 630px;
  z-index: 1;
}
.trust-text {
  margin-left: 70px;
}
.trust-text h3 {
  font-weight: 700;
  font-size: 50px;
  margin-left: -20px;
}

.trust-text ul {
  padding-left: 10px;
}
.trust-text ul li {
  color: rgba(0, 0, 0, 0.5);
}
.deals {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin-top: 133px;
}
.deals h3 {
  font-size: 50px;
  font-weight: 700;
}
.deals p {
  font-size: 22;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 16px;
}

/* last section of main*/
.last-sec {
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px 190px 0;
}
.plant-left {
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
}
.left-1 {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("/assets/deal-bloom.png");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  width: 367px;
  height: 201px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}
.left-1 p {
  font-weight: 700;
  font-size: 20px;
}
.left-1 a {
  font-weight: 600;
  font-size: 16px;
}
.left-2 {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("/assets/deal-ana.png");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  width: 367px;
  height: 198px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 20px;
}
.left-2 p {
  font-weight: 700;
  font-size: 20px;
}
.left-2 a {
  font-weight: 600;
  font-size: 16px;
}
.plant-right {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("/assets/deal-zabo.png");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  width: 753px;
  height: 424px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin-left: 28px;
}
.plant-right p {
  font-weight: 700;
  font-size: 40px;
}
.plant-right a {
  font-weight: 600;
  font-size: 28px;
}

/* footer */
.email {
  background-color: rgba(7, 51, 79, 0.4);
  background-image: url("/assets/news-letter-bg.png");
  background-size: cover;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 533px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
}
.subscribe {
  width: 830px;
  height: 50px;
  display: flex;
}
.subscribe input,
button {
  border: none;
  margin: auto 305;
  width: 100%;
}
.email h3 {
  font-weight: 700;
  font-size: 50px;
}

.subscribe input {
  width: 644px;
  padding: 15px;
}
.subscribe button {
  width: 186px;
  background-color: #e95a08;
  font-weight: 600;
}

.last-cont{
  max-width: 1440px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 50px 190px;
}
.div-2 ul{
  color: #6B7280;

}
.div-3 ul{
  color: #6B7280;

}
.div-2 ul li{
  text-decoration: none;
}
.div-2 ul li a{
  text-decoration: none;
  color: #6B7280;
}
.div-3 ul li{
  text-decoration: none;
}
.div-3 ul li a{
  text-decoration: none;
  color: #6B7280;

}

.div-1 p{
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
}
.li-margin{
  margin-top: 30px;
  list-style: none;
}
.m-left{
  margin-left: 100px;
}
.m-left-1{
  margin-left: 60px;
}
.div-4 img{
  margin-left: 20px;
}
.twitter{
  position: relative;
  top: -10px;
}

/* mobile */

@media screen and (max-width: 584px) {
  *{
    max-width: 584px;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }
  .home, .shop, .about {
    display: none;
  }
  .navbar{
    margin: 10px 16px 30px 16px;
    
  }
  .banner{
    flex-direction: column-reverse;
    margin-top: 25px;
    margin-bottom: 28px;
  }
  .banner-left{
    margin-top: 25px;
    width: 400px;
  }
  .banner-left h3{
    font-size: 34px;
  }
  .hero-flower{
  max-width: 100%;
  height: auto;
  display: block;
}
.content-up{
  width: 584px;
}
.content-card{
  margin: 0;
}
section div h3{
  font-size: 34px;
}
.content-up p {
  font-size: 16px;
}
.content-down {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 30px;
}
.trust-content {
    max-width: 584px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.trust-text {
    margin-left: 0;
}
.trust-text h3 {
    font-weight: 700;
    font-size: 40px;
    margin-left: 0;
}
.last-sec {
    max-width: 584px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
}
.left-1 {
  width: 584px;
  margin-top: 10px;
  background-size: cover;
}
.left-2 {
  width: 584px;
  background-size: cover;
}
.plant-right {
  width: 584px;
  height: 198px;
  margin-top: 20px;
  margin-left: 0;
}
.email h3 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}
.subscribe {
    width: 540px;
    height: 50px;
    display: flex;
}
.last-cont {
    max-width: 584px;
    display: flex;
    flex-direction: column;
    margin: 0;
}
.m-left{
  margin-left: 10px;
}
.m-left-1{
  margin-left: 10px;
}
.div-4{
  margin-top: 10px;
}

}