* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.noto-serif {
  font-family: "Noto Serif", serif;
}
.inter {
  font-family: "Inter", sans-serif;
}

/* custom class */
.container {
  max-width: 1280px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: 30px auto 0;
}
.nav-left {
  padding: ;
}
.nav-right ul {
  display: flex;
  gap: 15px;
  margin-top: 45px;
}
.nav-right ul li {
  list-style: none;
}
.nav-right ul li a {
  text-decoration: none;
  /* color: #252432; */
  /* font-weight: 400; */
}
/* font color */
.light-gray {
  color: #8987a1;
}
.black {
  color: #252432;
  font-weight: 700;
}
/* section */
.banner {
  display: flex;
  max-width: 1140px;
  margin: 70px auto;
  height: 461px;
  justify-content: space-between;
  align-items: center;
}
.pure-black {
  color: black;
}
.orange {
  color: #e95a08;
}
.white{
  color: rgb(255, 255, 255);
}

section div h3 {
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 20px;
}
section div p {
  color: rgba(0, 0, 0, 0.5);
}
.banner-left {
  margin-top: 92px;
}
/* main */
.content-card{
  max-width: 1140px;
  justify-content: center;
  align-items: center;
  margin: 0 190px;
  text-align: center;

}
.content-up p{
  font-size: 22px;
}
.card{
  width: 100%;
  height: 485px;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.btn{
  background-color: rgb(233, 90, 8);
  border: none;
  width: 270px;
  height: 50px;  
}
.btn a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.lily{
  color: rgb(17, 17, 17);
  font-size: 22px;
  font-weight: 500;
  margin: 5px 0;
}
.usd{
  color: rgb(17, 17, 17);
  font-size: 22px;
  font-weight: 700;
  margin: 5px 0 10px;
}
.content-down{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 30px;
}

/* 2nd main */
.trust-content{
  max-width: 1140px;
  margin: 200px 190px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trust{
  height: 286px;
  width: 286px;
}
.trust-text{
  margin-left: 70px;
}
.trust-text h3{
  font-weight: 700;
  font-size: 50px;
  margin-left: -20px;
}

.trust-text ul{
  padding-left: 10px;
}
.trust-text ul li{
  color: rgba(0, 0, 0, 0.5);
}

/* last section of main*/
.last-sec{
  max-width: 1140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 120px 190px 0;
}
.plant-left{
  /* justify-content: center; */
  /* align-items: center; */
  /* text-align: center; */
}
.left-1{
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url('/assets/deal-bloom.png');
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  width: 367px;
  height: 206px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
}
.left-1 p{
  font-weight: 700;
  font-size: 20px;
}
.left-1 a{
  font-weight: 600;
  font-size: 16px;
}
.left-2{
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url('/assets/deal-ana.png');
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  width: 367px;
  height: 206px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 20px;

}
.left-2 p{
  font-weight: 700;
  font-size: 20px;
}
.left-2 a{
  font-weight: 600;
  font-size: 16px;
}
.plant-right{
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url('/assets/deal-zabo.png');
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  width: 753px;
  height: 424px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  margin-left: 28px;
}
.plant-right p{
  font-weight: 700;
  font-size: 40px;
}
.plant-right a{
  font-weight: 600;
  font-size: 28px;
}